/* Empty file for template. Remember to edit only this file and not the HTML file */


body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('backgroundimg.JPEG');
    border:10px solid rgb(197, 0, 0);
    border-radius: 30px;
    margin:80px;
    padding:10px;
    background-repeat: no-repeat;
    background-size:cover;
    min-width: fit-content;
}

.intro h2 {
    margin-top:10px;
    margin-bottom:10px;
    font-size:40px;
}

.intro {
    color:white;text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
    text-align:center;
}
.intro h1{
    font-size:95px;
    color:white;
   background: #5959d4;
    background: linear-gradient(90deg, rgba(89, 89, 212, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(0, 0, 0, 1) 100%);
    text-shadow:1px 1px 0 rgba(0,0,0,0.5);
    border-radius:30px;
    display:inline-block;
    padding:20px 20px;
    margin-bottom:10px;
    border:10px solid rgb(197, 0, 0);
}

p {
color:white;
text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
font-size:30px
}
a {
    list-style-type:none;
    text-decoration:none;
    color:white;
    text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
}
 
.preamble {
    display:grid;
    grid-template: 1fr 1fr / 1fr 0.5fr 1fr;
    grid-template-areas:
    "h . c1"
    "c2 . c3";



}
.preamble > h3 {
    grid-area: h;
}
.preamble > p:first-of-type{
    position: relative;
}
.preamble p:nth-of-type(1){
    grid-area: c1;
}
.preamble p:nth-of-type(2){
    grid-area: c2;
}
.preamble p:nth-of-type(3){
    grid-area: c3;
}

.preamble > p:first-of-type::after {
    height:100px;
    min-width: fit-content;
    align-items: center;
    width: 6em;
    position: absolute;
    left: 6em;
    top:0

}
a:visited {
    color:beige;
}

h3.article {
text-align: center;
}

.participation, .explanation {
    text-align: center;
    justify-content: center;
}
    
.preamble > h3 {
    font-size: 50px;
}


div, h3 {
    color:white;
    text-shadow :.3px .3px 0 rgba(0, 0, 0, 0.5);
    font-size: 40px;
    margin-top:10px;

}

:not(p) {
    color:lightgreen;
    text-decoration: none;
    text-shadow:.7px .7px 0 rgba(0, 0, 0, 0.5);
}

p::first-letter {
    font-size:120%;
    text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
}

#zen-benefits {
    text-align:right;
    margin-left:30em;
    margin-top: 2em;
    margin-right:0.8em;
}

#zen-participation {
    text-align:left;
    margin-right:30em;
    margin-top:2em;
    margin-left:0.8em
}

#zen-explanation {
text-align:right;
margin-top: 2em;
margin-right:0.8em;
margin-left:26em;
}

#zen-requirements {
    text-align:left;
    margin-right:30em;
    margin-top: 2em;
    margin-left:0.8em;
}

#zen-requirements::after {
    content: "";
    display: block;
    clear: both;
}

:hover {
    color:lightskyblue
}

:root {
background: #5959d4;
background: linear-gradient(90deg, rgba(89, 89, 212, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(0, 0, 0, 1) 100%);
margin-left: -2.5em;
margin-right:-2.5em;
margin-top:-2.5em;
margin-bottom: -2.5em;
}

div:empty {

}

* {
    box-sizing: border-box;
}

.extra1 {
    background-image: url('IMG_0446.JPEG');
    border-radius:30px;
    border:10px solid rgb(197, 0, 0);
    height:530px;
    width:430px;
    display:block;
    position:absolute;
    background-size:cover;
    top:900px;
    left:290px;
}

.extra2 {
    background-image: url('IMG_0439.JPEG');
    border-radius:30px;
    border:10px solid rgb(197, 0, 0);
    height:600px;
    width:700px;
    display:block;
    position:absolute;
    background-size:cover;
    top:1500px;
    right:350px;
}

.extra3 {
    background-image: url('IMG_0484.JPEG');
    border-radius:30px;
    border:10px solid rgb(197, 0, 0);
    height:400px;
    width:500px;
    display:block;
    position:absolute;
    background-size:cover;
    top:2150px;
    left:290px;
}