/* Empty file for template. Remember to edit only this file and not the HTML file */


body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('backgroundimg.JPEG');
    border:10px solid rgb(197, 0, 0);
    border-radius: 30px;
    margin:80px;
    padding:10px;
    background-repeat: no-repeat;
    background-size:cover;
    min-width: fit-content;
    position:relative;
}

section.intro h2 {
    margin-top:10px;
    margin-bottom:10px;
    font-size:40px;
}

div[role="article"]{
    
}

.main.suppporting {
    margin:0%
}

.page-wrapper .intro {
    color:white;text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
    text-align:center;
}
.intro h1{
    font-size:95px;
    color:white;
   background: #5959d4;
    background: linear-gradient(90deg, rgba(89, 89, 212, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(0, 0, 0, 1) 100%);
    text-shadow:1px 1px 0 rgba(0,0,0,0.5);
    border-radius:30px;
    display:inline-block;
    padding:20px 20px;
    margin-bottom:10px;
    border:10px solid rgb(197, 0, 0);
}

h3.select {
    margin-left:20px;
}

h3.archives {
    margin-left:20px;
}
 
.preamble {
    display:grid;
    grid-template: 1fr 1fr / 1fr 0.5fr 1fr;
    grid-template-areas:
    "h . c1"
    "c2 . c3";
}
.preamble > h3 {
    grid-area: h;
}
.preamble > p:first-of-type{
    position: relative;
}
.preamble p:nth-of-type(1){
    grid-area: c1;
}
.preamble p:nth-of-type(2){
    grid-area: c2;
}
.preamble p:nth-of-type(3){
    grid-area: c3;
}

.preamble > p:first-of-type::after {
    height:100px;
    min-width: fit-content;
    align-items: center;
    width: 6em;
    position: absolute;
    left: 6em;
    top:0

}
a:visited {
    color:beige;
}

h3.article {
text-align: center;
}

.participation, .explanation {
    text-align: center;
    justify-content: center;
}
    
.preamble > h3 {
    font-size: 50px;
}


div, h3 {
    color:white;
    text-shadow :.3px .3px 0 rgba(0, 0, 0, 0.5);
    font-size: 40px;
    margin-top:10px;
}

p {
color:white;
text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
font-size:30px
}
a {
    list-style-type:none;
    text-decoration:none;
    color:white;
    text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
}

p {
color:white;
text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
font-size:30px
}
a {
    list-style-type:none;
    text-decoration:none;
    color:white;
    text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
}
:not(p) {
    color:lightgreen;
    text-decoration: none;
    text-shadow:.7px .7px 0 rgba(0, 0, 0, 0.5);
}

p::first-letter {
    font-size:120%;
    text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
}

#zen-benefits {
    text-align:right;
    margin-left:30em;
    margin-top: 2em;
    margin-right:0.8em;
}

#zen-participation {
    text-align:left;
    margin-right:30em;
    margin-top:2em;
    margin-left:0.8em;
}

#zen-explanation::before {
    background-image: url('IMG_0446.JPEG');
    content:"";
    border-radius:30px;
    border:10px solid rgb(197, 0, 0);
    height:520px;
    width:420px;
    display:block;
    position:absolute;
    background-size:cover;
    top:-0px;
    left:0%;
    transform:translateX(calc(-210% + 15rem))
}

#zen-explanation::after {
    content:"";
    display:block;
    clear:both;
}


#zen-explanation {
text-align:right;
margin-top: 2em;
margin-right:0.8em;
margin-left:26em;
position:relative;
}

#zen-requirements {
    text-align:left;
    margin-right:30em;
    margin-top: 2em;
    margin-left:0.8em;
    position:relative;
}

#zen-requirements::before {
background-image: url('DJI_20250128171750_0090_D.JPG');
content:"";
    border-radius:30px;
    border:10px solid rgb(197, 0, 0);
    height:830px;
    width:730px;
    display:block;
    position:absolute;
    background-size:cover;
    top:0px;
    right:0%;
    transform:translateX(calc(100% + 15rem));
}


#zen-requirements::after {
    content: "";
    display: block;
    clear: both;
}

#zen-participation::before {
    background-image: url('IMG_0439.JPEG');
    content:"";
    border-radius:30px;
    border:10px solid rgb(197, 0, 0);
    height:600px;
    width:700px;
    display:block;
    background-size:cover;
    top:0px;
    left:0%;
    transform:translateX(calc(160% + 15rem));
}

#zen-participation {
    position: relative;
}

#zen-participation::after {
    content:"";
    display:block;
    clear:both;
}

:hover {
    color:rgb(6, 217, 210)
}

:root {
background: #5959d4;
background: linear-gradient(90deg, rgba(89, 89, 212, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(0, 0, 0, 1) 100%);
margin-left: -2.5em;
margin-right:-2.5em;
margin-top:-2.5em;
margin-bottom: -2.5em;
}

#zen-benefits {
    position:relative;
}

#zen-benefits::before {
    content:"";
    background-image: url('IMG_0484.JPEG');
    border-radius:30px;
    border:10px solid rgb(197, 0, 0);
    height:400px;
    width:500px;
    display:block;
    position:absolute;
    background-size:cover;
    top:-0px;
    left:0%;
    transform:translateX(calc(-210% + 15rem));
}

#zen-benefits::after {
    content:"";
    display:block;
    clear:both;
}

* {
    box-sizing: border-box;
    overflow-x: visible;
}


/*.extra3 {
    background-image: url('IMG_0484.JPEG');
    border-radius:30px;
    border:10px solid rgb(197, 0, 0);
    height:400px;
    width:500px;
    display:block;
    position:absolute;
    background-size:cover;
    top:2060px;
    left:370px;
}*/

.extra4 {
    background-image: url('sunrise.jpg');
    border-radius:30px;
    border:10px solid rgb(197, 0, 0);
    height:400px;
    width:500px;
    display:block;
    position:absolute;
    background-size:cover;
    top:520px;
    margin:auto;
    left:50%;
    transform:translateX(-50%);
}


h1::selection {
    color:rgb(6, 217, 210)
}

ul:only-child {
    font-size:40px;
    gap:15px;
}

ul:last-child {
    list-style-type: none;
    margin-left:-18px;
}


a.zen-validate-html {
    margin-left:20px;
}

a:active {
    background-color: red;
}