/* Empty file for template. Remember to edit only this file and not the HTML file */


body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('backgroundimg.JPEG');
    display:flex;
    border:10px solid rgb(197, 0, 0);
    border-radius: 30px;
    margin:80px;
    padding:10px;
    background-repeat: no-repeat;
    background-size:cover;
}


.intro {
    color:white;text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
    text-align:center;
}
.intro h1{
    font-size:95px;
    background-color: rgb(232, 16, 128);
    text-shadow:1px 1px 0 rgba(0,0,0,0.5);
    border-radius:30px;
    display:inline-block
}

p {
color:white;
text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
text-align:center;
font-size:30px
}
a {
    list-style-type:none;
    text-decoration:none;
    color:white;
    text-shadow:.3px .3px 0 rgba(0, 0, 0, 0.5);
}
 
.preamble {
    display:flex;
    flex-flow: row wrap;
}

a:visited {
    color:beige;
}